{% extends 'layout.html' %}
{% set page = {
    "title": "当薬局ご紹介"
} %}
{% block content %}

<style scoped>
  /* pc */
  @media (min-width: 768px) {
    .about-column-title {
      font-size: 25px;
      color: #4468BB;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .about-history-image {
      color: #4468BB;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .bottom-image {
      display: none;
    }
  }


  /* sp */
  @media (max-width: 767px) {
    /* img {
      width: 30%;
    } */

    .about-column-title {
      font-size: 18px;
      margin-top: 20px;
      color: #4468BB;
      font-weight: bold;

    }

    .about-history-image {
      font-size: 15px;
      margin-top: 15px;
      color: #4468BB;
      font-weight: bold;

    }

    .about-history-image img {
      width: 30%;
    }

    .normal-text {
      font-size: 12px;
    }

  }
</style>

<section class="about-main-visual">
  <div class="about-main-image">
    <h1 class="title">{{page.title}}</h1>
  </div>
</section>

<section class="main-contetns">
  <div class="contents-container">
    <div class="main-wrappe">
      <div class="about-column">
        <h2>当薬局ご紹介</h2>
        <div class="about-column-title" style="">
          調剤薬局の役割
        </div><br>
        <div class="about-intro">
          <div class="about-intro-text">

            <h3>処方せんをもとにお薬をご提供</h3>
            <p>
              お持ちいただいた医師からの処方せんをもとに、お薬を調剤し、患者様に提供しております。<br>調剤だけでなく、服薬に関する注意や指導、これまでのお薬の服薬履歴も調剤薬局似て管理し、より安心できる医療環境作りを担っています。
            </p>
            <!-- <dl>
                      <dt>Idiotクリニック</dt>
                      <dd>○○ ○○</dd>
                    </dl> -->
          </div>
          <figure><img src="images/マスクグループ 25.svg" alt=""></figure>
        </div>
        <div class="about-intro">
          <div class="about-intro-text">

            <h3>かかりつけ薬局について</h3>
            <p>
              かかりつけ薬局は、身近ですぐに相談できる「いつもの薬局」です。<br>患者様の過去のお薬の履歴や、体調、ご相談内容を記録した上で、お薬の調剤を行います。<br>当薬局は皆様のお薬のパートナーとして安心できるかかりつけ薬局を目指しています。
            </p>
            <!-- <dl>
                      <dt>Idiotクリニック</dt>
                      <dd>○○ ○○</dd>
                    </dl> -->
          </div>
          <figure><img src="images/マスクグループ 26.svg" alt=""></figure>
        </div>





        <!-- about-intro -->
        <br>
        <div class="about-column-title" style="">
          調剤のながれ
        </div>

        <div class="about-history">
          <!-- <h4>経歴</h4> -->
          <div class="about-history-image" style="">
            <img src="images/グループ 752.svg" alt="">
            患者様より処方せんをいただきます
          </div>
          <div class="normal-text">
            この時、『お薬手帳（今まで服用されたお薬が記載された手帳）』もお預かりします。
          </div>

          <div class="about-menu" style="margin-top: 20px; margin-bottom: 20px;">
            <ul>
              <div style="font-weight: 100;">
                <div class="about-history-image" style="">
                  <figure><img style="float: left; margin-right: 30px; margin-top: 6px; max-height: 70px; width: auto;"
                      src="images/グループ 753.svg" alt="">
                  </figure>
                </div>
                <div class="normal-text" style="">
                  副作用歴・アレルギー歴・飲み合わせなどの確認のため、問診票への記入をお願いしております。<br>お手数ですが、ご協力をお願いいたします。
                </div>
              </div>
            </ul>
          </div>


          <div class="normal-text" style="line-height: 1.7; margin-bottom: 20px;">
            処方せんの記載内容や処方薬の用法用量等に間違いがないかを確認します。<br>お薬手帳などで患者さまお一人おひとりの薬歴を確認し、「重複投与や飲み合わせによる相互作用がないか」、「残っている薬はないか」などの確認をします。<br>もしも内容に不備があれば、医療機関に疑義照会(確認)することもあります。
          </div>


          <ul>
            <li>
              <figure><img src="images/arrow_0831.svg" style="margin-bottom: 20px;" alt=""></figure>
              <span>
                <div class="about-history-image" style="">
                  <img src="images/グループ 754.svg" alt="">
                  調剤を行います
                </div>

              </span>
              <!-- <p>○○大学○○学部卒業</p> -->
              <div style="font-weight: 100;">
                処方せんに基づき、薬剤師が調剤します。コンピュータに処方せんの内容を入力し、患者さまにお渡しするお薬の説明書やお薬手帳のシール等を印刷します。
              </div>
            </li>
            <li>
              <figure><img src="images/arrow_0831.svg" style="margin-bottom: 20px;" alt=""></figure>
              <span>
                <div class="about-history-image" style="">
                  <img src="images/グループ 755.svg" alt="">
                  不備がないか確認します
                </div>

              </span>
              <!-- <p>○○○○○○○○○○</p> -->
              <div style="font-weight: 100;">
                別の薬剤師が調剤内容を監査します。（二重にチェックを行っています。）<br>コンピュータで出力された内容にも不備がないかを確認します。
              </div>
            </li>
            <li>
              <figure><img src="images/arrow_0831.svg" style="margin-bottom: 20px;" alt=""></figure>
              <span>

                <div class="about-history-image" style="">
                  <img src="images/グループ 756.svg" alt="">
                  お薬をお渡しします
                </div>
              </span>
              <!-- <p>○○○○クリニック開業</p> -->

              <div style="font-weight: 100;">
                患者さまにお薬をお渡しし、現在の服薬状況を確認しながらお薬の服用や保存についてご説明します。
              </div>
            </li>
            <li>
              <figure><img src="images/arrow_0831.svg" style="margin-bottom: 20px;" alt=""></figure>
              <span>
                <div class="about-history-image" style="">
                  <img src="images/グループ 757.svg" alt="">
                  ご不明な点をお伺いします
                </div>

              </span>
              <!-- <p>○○○○クリニック開業</p> -->
              <div style="font-weight: 100;">
                処方されたお薬に対し、患者さまからの疑問やお申し出等があれば、お答えします。<br>また、医師による確認が必要な場合は医療機関に疑義照会(確認)を行います。
              </div>
            </li>
            <li>
              <figure><img src="images/arrow_0831.svg" style="margin-bottom: 20px;" alt=""></figure>
              <span>
                <div class="about-history-image" style="">
                  <img src="images/グループ 758.svg" alt="">
                  お会計
                </div>

              </span>
              <!-- <p>○○○○クリニック開業</p> -->
              <div style="font-weight: 100;">
                確認後問題がなければ、お会計をさせていただきます。
              </div>
            </li>
          </ul>
        </div>

        <img class="bottom-image" src="images/bnr-online-reserved-sp1.svg" alt="">
        <!-- about-history -->
        <!-- <div class="about-menu">
          <h3>実施している検査・治療</h3>
          <ul>
            <li>●○●○●○●○●○●○検査</li>
            <li>●○●○●○●○予防検査</li>
            <li>●○●○●○●○●○●○検査／●○●○●○診断</li>
            <li>●○●○●○●○●○●○治療</li>
            <li>●○●○●○●○予防治療</li>
            <li>●○●○●○●○●○●○治療／●○●○●○治療</li>
          </ul>
        </div> -->
        <!-- about-menu -->
        <figure class="reserved-bnr pc-none"><a href="#"><img src="/images/bnr-online-reserved-sp-01.svg" alt=""></a>
        </figure>
      </div>
      <!-- about-column -->
    </div>
    <!-- main-wrappe -->

    {% include '_sub-nav.html' %}
    <!-- sub-wrappe -->
  </div>
</section>


{% endblock %}