{% extends 'layout.html' %}
{% set page = {
    "title": "当薬局ご紹介"
} %}
{% block content %}

<section class="about-main-visual">
  <div class="about-main-image">
    <h1 class="title">{{page.title}}</h1>
  </div>
</section>

<section class="main-contetns">
  <div class="contents-container">
    <div class="main-wrappe">
      <div class="about-column">
        <h2>当薬局ご紹介</h2>
        <div style="color: #4468BB; font-size: 25px; font-weight: bold;">
          調剤薬局の役割
        </div><br><br>
        <div class="about-intro">
          <div class="about-intro-text">

            <h3>処方せんをもとにお薬をご提供</h3>
            <p>
              お持ちいただいた医師からの処方せんをもとに、お薬を調剤し、患者様に提供しております。<br>調剤だけでなく、服薬に関する注意や指導、これまでのお薬の服薬履歴も調剤薬局似て管理し、より安心できる医療環境作りを担っています。
            </p>
            <!-- <dl>
                      <dt>Idiotクリニック</dt>
                      <dd>○○ ○○</dd>
                    </dl> -->
          </div>
          <figure><img src="http://placehold.jp/f0f0f0/d0d0d0/500x412.png" alt=""></figure>
        </div>
        <div class="about-intro">
          <div class="about-intro-text">

            <h3>かかりつけ薬局について</h3>
            <p>
              かかりつけ薬局は、身近ですぐに相談できる「いつもの薬局」です。<br>患者様の過去のお薬の履歴や、体調、ご相談内容を記録した上で、お薬の調剤を行います。<br>当薬局は皆様のお薬のパートナーとして安心できるかかりつけ薬局を目指しています。
            </p>
            <!-- <dl>
                      <dt>Idiotクリニック</dt>
                      <dd>○○ ○○</dd>
                    </dl> -->
          </div>
          <figure><img src="http://placehold.jp/f0f0f0/d0d0d0/500x412.png" alt=""></figure>
        </div>
        <!-- about-intro -->
        <div style="color: #4468BB; font-size: 25px; font-weight: bold;">
          調剤のながれ
        </div><br>

        <div class="about-history">
          <!-- <h4>経歴</h4> -->
          <div style="color: #4468BB; font-size: 20px; font-weight: bold; margin-bottom: 10px;">
            患者様より処方せんをいただきます
          </div>
          この時、『お薬手帳（今まで服用されたお薬が記載された手帳）』もお預かりします。

          <div class="about-menu" style="margin-top: 20px; margin-bottom: 20px;">
            <ul>
              <div style="font-weight: 100;">
                <img style="float: left; margin-right: 30px;" src="http://placehold.jp/f0f0f0/d0d0d0/180x100.png"
                  alt="">
                副作用歴・アレルギー歴・飲み合わせなどの確認のため、問診票への記入をお願いしております。<br>お手数ですが、ご協力をお願いいたします。
              </div>
            </ul>
          </div>

          <div style="line-height: 1.7; margin-bottom: 20px;">
            処方せんの記載内容や処方薬の用法用量等に間違いがないかを確認します。<br>お薬手帳などで患者さまお一人おひとりの薬歴を確認し、「重複投与や飲み合わせによる相互作用がないか」、「残っている薬はないか」などの確認をします。<br>もしも内容に不備があれば、医療機関に疑義照会(確認)することもあります。
          </div>


          <ul>
            <li>
              <span>2000年00月</span>
              <p>○○大学○○学部卒業</p>
            </li>
            <li>
              <span>2000年00月</span>
              <p>○○○○○○○○○○</p>
            </li>
            <li>
              <span>2000年00月</span>
              <p>○○○○クリニック開業</p>
            </li>
          </ul>
        </div>
        <!-- about-history -->
        <div class="about-menu">
          <h3>実施している検査・治療</h3>
          <ul>
            <li>●○●○●○●○●○●○検査</li>
            <li>●○●○●○●○予防検査</li>
            <li>●○●○●○●○●○●○検査／●○●○●○診断</li>
            <li>●○●○●○●○●○●○治療</li>
            <li>●○●○●○●○予防治療</li>
            <li>●○●○●○●○●○●○治療／●○●○●○治療</li>
          </ul>
        </div>
        <!-- about-menu -->
        <figure class="reserved-bnr pc-none"><a href="#"><img src="/images/bnr-online-reserved-sp-01.svg" alt=""></a>
        </figure>
      </div>
      <!-- about-column -->
    </div>
    <!-- main-wrappe -->

    {% include '_sub-nav.html' %}
    <!-- sub-wrappe -->
  </div>
</section>


{% endblock %}