{% extends 'layout.html' %}
{% set page = {
    "title": "よくあるご質問"
} %}
{% block content %}


<style scoped>
  /* pc */
  @media (min-width: 768px) {
    /* h3 {
      border-bottom: thin solid;
      border-top: thin solid;
    }
    h3::before {
      background-color: white;
    } */


    .head-bar {
      /* background: #ccc; */
      box-sizing: border-box;
      height: 50px;
      padding: 10px 2.5%;
      border-bottom: thin solid;
      border-top: thin solid;
      height: auto;
      font-weight: bold;
      font-size: 22px;
    }

    .head-bar img {
      margin-right: 10px;
    }

    .menu-btn01,
    .menu-btn01 span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
    }

    .menu-btn01 {
      display: block;
      float: right;
      margin: 0 auto;
      position: relative;
      width: 40px;
      height: 30px;
      margin-top: 12px;
    }

    .menu-btn01 span {
      /* position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #000; */
      display: none;
    }

    .menu-btn01 span:nth-of-type(1) {
      top: 0;
    }

    .menu-btn01 span:nth-of-type(2) {
      top: 13px;
    }

    .menu-btn01 span:nth-of-type(3) {
      bottom: 0;
    }

    .sp-menu01 {
      display: none;
    }

    .sp-menu01 li {
      box-sizing: border-box;
      border-bottom: 1px solid #fff;

      /* background: #000; */
      box-sizing: border-box;
      color: #fff;
      display: block;
      font-size: 16px;
      line-height: 26px;
      padding: 5px 10px;
      text-decoration: none;
      width: 100%;
    }







    .menu-btn02,
    .menu-btn02 span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
    }

    .menu-btn02 {
      display: block;
      float: right;
      margin: 0 auto;
      position: relative;
      width: 40px;
      height: 30px;
      margin-top: 12px;
    }

    .menu-btn02 span {
      /* position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #000; */
      display: none;
    }

    .menu-btn02 span:nth-of-type(1) {
      top: 0;
    }

    .menu-btn02 span:nth-of-type(2) {
      top: 13px;
    }

    .menu-btn02 span:nth-of-type(3) {
      bottom: 0;
    }

    .sp-menu02 {
      display: none;
    }

    .sp-menu02 li {
      box-sizing: border-box;
      border-bottom: 1px solid #fff;

      /* background: #000; */
      box-sizing: border-box;
      color: black;
      display: block;
      font-size: 16px;
      line-height: 26px;
      padding: 5px 10px;
      text-decoration: none;
      /* width: 100%; */
      margin-left: 110px;
      margin-top: 15px;
    }










    .menu-btn03,
    .menu-btn03 span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
    }

    .menu-btn03 {
      display: block;
      float: right;
      margin: 0 auto;
      position: relative;
      width: 40px;
      height: 30px;
      margin-top: 12px;
    }

    .menu-btn03 span {
      /* position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #000; */
      display: none;
    }

    .menu-btn03 span:nth-of-type(1) {
      top: 0;
    }

    .menu-btn03 span:nth-of-type(2) {
      top: 13px;
    }

    .menu-btn03 span:nth-of-type(3) {
      bottom: 0;
    }

    .sp-menu03 {
      display: none;
    }

    .sp-menu03 li {
      box-sizing: border-box;
      border-bottom: 1px solid #fff;

      /* background: #000; */
      box-sizing: border-box;
      color: black;
      display: block;
      font-size: 16px;
      line-height: 26px;
      padding: 5px 10px;
      text-decoration: none;
      /* width: 100%; */
      margin-left: 110px;
      margin-top: 15px;
    }






    .menu-btn04,
    .menu-btn04 span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
    }

    .menu-btn04 {
      display: block;
      float: right;
      margin: 0 auto;
      position: relative;
      width: 40px;
      height: 30px;
      margin-top: 12px;
    }

    .menu-btn04 span {
      /* position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #000; */
      display: none;
    }

    .menu-btn04 span:nth-of-type(1) {
      top: 0;
    }

    .menu-btn04 span:nth-of-type(2) {
      top: 13px;
    }

    .menu-btn04 span:nth-of-type(3) {
      bottom: 0;
    }

    .sp-menu04 {
      display: none;
    }

    .sp-menu04 li {
      box-sizing: border-box;
      border-bottom: 1px solid #fff;

      /* background: #000; */
      box-sizing: border-box;
      color: black;
      display: block;
      font-size: 16px;
      line-height: 26px;
      padding: 5px 10px;
      text-decoration: none;
      /* width: 100%; */
      margin-left: 110px;
      margin-top: 15px;
    }






    .menu-btn05,
    .menu-btn05 span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
    }

    .menu-btn05 {
      display: block;
      float: right;
      margin: 0 auto;
      position: relative;
      width: 40px;
      height: 30px;
      margin-top: 12px;
    }

    .menu-btn05 span {
      /* position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #000; */
      display: none;
    }

    .menu-btn05 span:nth-of-type(1) {
      top: 0;
    }

    .menu-btn05 span:nth-of-type(2) {
      top: 13px;
    }

    .menu-btn05 span:nth-of-type(3) {
      bottom: 0;
    }

    .sp-menu05 {
      display: none;
    }

    .sp-menu05 li {
      box-sizing: border-box;
      border-bottom: 1px solid #fff;

      /* background: #000; */
      box-sizing: border-box;
      color: black;
      display: block;
      font-size: 16px;
      line-height: 26px;
      padding: 5px 10px;
      text-decoration: none;
      /* width: 100%; */
      margin-left: 110px;
      margin-top: 15px;
    }







    .menu-btn06,
    .menu-btn06 span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
    }

    .menu-btn06 {
      display: block;
      float: right;
      margin: 0 auto;
      position: relative;
      width: 40px;
      height: 30px;
      margin-top: 12px;
    }

    .menu-btn06 span {
      /* position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #000; */
      display: none;
    }

    .menu-btn06 span:nth-of-type(1) {
      top: 0;
    }

    .menu-btn06 span:nth-of-type(2) {
      top: 13px;
    }

    .menu-btn06 span:nth-of-type(3) {
      bottom: 0;
    }

    .sp-menu06 {
      display: none;
    }

    .sp-menu06 li {
      box-sizing: border-box;
      border-bottom: 1px solid #fff;

      /* background: #000; */
      box-sizing: border-box;
      color: black;
      display: block;
      font-size: 16px;
      line-height: 26px;
      padding: 5px 10px;
      text-decoration: none;
      /* width: 100%; */
      margin-left: 110px;
      margin-top: 15px;
    }



    .q {
      display: inline-block;
      vertical-align: top;
    }


    .q-title {
      display: inline-block;
      margin-left: 4px;
      margin-top: 18px;
      margin-bottom: 15px;
    }





    .faq-subtitle {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 35px;
    }



    .bottom-image {
      display: none;
    }






  }


  /* sp */
  @media (max-width: 767px) {









    .head-bar {
      /* background: #ccc; */
      box-sizing: border-box;
      height: 50px;
      padding: 10px 2.5%;
      border-bottom: thin solid;
      border-top: thin solid;
      height: auto;
      font-weight: bold;
      font-size: 3vw;
    }


    .head-bar a img {
      width: 100%;
      height: auto;
      margin-top: -6px;
    }


    .head-bar img {
      margin-right: 10px;
      width: 12%;

    }








    .menu-btn01,
    .menu-btn01 span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
    }

    .menu-btn01 {
      display: inline-block;
      float: right;
      /* margin: 0 auto; */
      position: relative;
      width: 8%;
      /* height: 30px; */
      margin-top: 3%;
    }

    .menu-btn01 span {
      /* position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #000; */
      display: none;
    }

    .menu-btn01 span:nth-of-type(1) {
      top: 0;
    }

    .menu-btn01 span:nth-of-type(2) {
      top: 13px;
    }

    .menu-btn01 span:nth-of-type(3) {
      bottom: 0;
    }

    .sp-menu01 {
      display: none;
    }

    .sp-menu01 li {
      box-sizing: border-box;
      border-bottom: 1px solid #fff;

      /* background: #000; */
      box-sizing: border-box;
      color: #fff;
      display: block;
      font-size: 16px;
      line-height: 26px;
      padding: 5px 10px;
      text-decoration: none;
      width: 100%;
    }







    .menu-btn02,
    .menu-btn02 span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
    }

    .menu-btn02 {
      display: inline-block;
      float: right;
      /* margin: 0 auto; */
      position: relative;
      width: 8%;
      /* height: 30px; */
      margin-top: 3%;
    }

    .menu-btn02 span {
      /* position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #000; */
      display: none;
    }

    .menu-btn02 span:nth-of-type(1) {
      top: 0;
    }

    .menu-btn02 span:nth-of-type(2) {
      top: 13px;
    }

    .menu-btn02 span:nth-of-type(3) {
      bottom: 0;
    }

    .sp-menu02 {
      display: none;
    }

    .sp-menu02 li {
      box-sizing: border-box;
      border-bottom: 1px solid #fff;
      /* background: #000; */
      box-sizing: border-box;
      color: black;
      display: block;
      font-size: 3vw;
      line-height: 5vw;
      padding: 5px 10px;
      text-decoration: none;
      /* width: 100%; */
      margin-left: 20%;
      margin-top: 15px;
      text-align: left;
    }










    .menu-btn03,
    .menu-btn03 span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
    }

    .menu-btn03 {
      display: inline-block;
      float: right;
      /* margin: 0 auto; */
      position: relative;
      width: 8%;
      /* height: 30px; */
      margin-top: 3%;
    }

    .menu-btn03 span {
      /* position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #000; */
      display: none;
    }

    .menu-btn03 span:nth-of-type(1) {
      top: 0;
    }

    .menu-btn03 span:nth-of-type(2) {
      top: 13px;
    }

    .menu-btn03 span:nth-of-type(3) {
      bottom: 0;
    }

    .sp-menu03 {
      display: none;
    }

    .sp-menu03 li {
      box-sizing: border-box;
      border-bottom: 1px solid #fff;
      /* background: #000; */
      box-sizing: border-box;
      color: black;
      display: block;
      font-size: 3vw;
      line-height: 5vw;
      padding: 5px 10px;
      text-decoration: none;
      /* width: 100%; */
      margin-left: 20%;
      margin-top: 15px;
      text-align: left;
    }






    .menu-btn04,
    .menu-btn04 span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
    }

    .menu-btn04 {
      display: inline-block;
      float: right;
      /* margin: 0 auto; */
      position: relative;
      width: 8%;
      /* height: 30px; */
      margin-top: 3%;
    }

    .menu-btn04 span {
      /* position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #000; */
      display: none;
    }

    .menu-btn04 span:nth-of-type(1) {
      top: 0;
    }

    .menu-btn04 span:nth-of-type(2) {
      top: 13px;
    }

    .menu-btn04 span:nth-of-type(3) {
      bottom: 0;
    }

    .sp-menu04 {
      display: none;
    }

    .sp-menu04 li {
      box-sizing: border-box;
      border-bottom: 1px solid #fff;
      /* background: #000; */
      box-sizing: border-box;
      color: black;
      display: block;
      font-size: 3vw;
      line-height: 5vw;
      padding: 5px 10px;
      text-decoration: none;
      /* width: 100%; */
      margin-left: 20%;
      margin-top: 15px;
      text-align: left;
    }






    .menu-btn05,
    .menu-btn05 span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
    }

    .menu-btn05 {
      display: inline-block;
      float: right;
      /* margin: 0 auto; */
      position: relative;
      width: 8%;
      /* height: 30px; */
      margin-top: 3%;
    }

    .menu-btn05 span {
      /* position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #000; */
      display: none;
    }

    .menu-btn05 span:nth-of-type(1) {
      top: 0;
    }

    .menu-btn05 span:nth-of-type(2) {
      top: 13px;
    }

    .menu-btn05 span:nth-of-type(3) {
      bottom: 0;
    }

    .sp-menu05 {
      display: none;
    }

    .sp-menu05 li {
      box-sizing: border-box;
      border-bottom: 1px solid #fff;
      /* background: #000; */
      box-sizing: border-box;
      color: black;
      display: block;
      font-size: 3vw;
      line-height: 5vw;
      padding: 5px 10px;
      text-decoration: none;
      /* width: 100%; */
      margin-left: 20%;
      margin-top: 15px;
      text-align: left;
    }







    .menu-btn06,
    .menu-btn06 span {
      display: inline-block;
      transition: all .4s;
      box-sizing: border-box;
    }

    .menu-btn06 {
      display: inline-block;
      float: right;
      /* margin: 0 auto; */
      position: relative;
      width: 8%;
      /* height: 30px; */
      margin-top: 3%;
    }

    .menu-btn06 span {
      /* position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #000; */
      display: none;
    }

    .menu-btn06 span:nth-of-type(1) {
      top: 0;
    }

    .menu-btn06 span:nth-of-type(2) {
      top: 13px;
    }

    .menu-btn06 span:nth-of-type(3) {
      bottom: 0;
    }

    .sp-menu06 {
      display: none;
    }

    .sp-menu06 li {
      box-sizing: border-box;
      border-bottom: 1px solid #fff;
      /* background: #000; */
      box-sizing: border-box;
      color: black;
      display: block;
      font-size: 3vw;
      line-height: 5vw;
      padding: 5px 10px;
      text-decoration: none;
      /* width: 100%; */
      margin-left: 20%;
      margin-top: 15px;
      text-align: left;
    }













    .q {
      display: inline;
      vertical-align: top;
      /* width: 100%; */
    }


    .q-title {
      display: inline-block;
      margin-left: 4px;
      margin-top: 4%;
      margin-bottom: 3%;
    }



    .faq-subtitle {
      font-weight: bold;
      font-size: 3vw;
      text-align: center !important;
      width: 75%;
      margin: 3% auto 8%;
    }


    .first-visit-column {
      margin-bottom: 0px;
    }

  }
</style>


<script>
  $(function () {


    // 最初からコンテンツ表示
    $(".sp-menu01").show();


    $(".menu-btn01").click(function () {
      $(".sp-menu01").slideToggle(200);
    });
    $(".sp-menu01 li a").click(function () {
      $(".sp-menu01").css({ display: "none" });
    });
    $('.menu-btn01').click(function () {
      event.stopPropagation();
    });

    $(document).click(function (event) {
      if (!$(event.target).closest('.sp-menu01').length) {
        $('.sp-menu01').slideUp(200);
      }
    });
  });


  $(function () {
    $(".menu-btn02").click(function () {
      $(".sp-menu02").slideToggle(200);
    });
    $(".sp-menu02 li a").click(function () {
      $(".sp-menu02").css({ display: "none" });
    });
    $('.menu-btn02').click(function () {
      event.stopPropagation();
    });

    $(document).click(function (event) {
      if (!$(event.target).closest('.sp-menu02').length) {
        $('.sp-menu02').slideUp(200);
      }
    });
  });


  $(function () {
    $(".menu-btn03").click(function () {
      $(".sp-menu03").slideToggle(200);
    });
    $(".sp-menu03 li a").click(function () {
      $(".sp-menu03").css({ display: "none" });
    });
    $('.menu-btn03').click(function () {
      event.stopPropagation();
    });

    $(document).click(function (event) {
      if (!$(event.target).closest('.sp-menu03').length) {
        $('.sp-menu03').slideUp(200);
      }
    });
  });


  $(function () {
    $(".menu-btn04").click(function () {
      $(".sp-menu04").slideToggle(200);
    });
    $(".sp-menu04 li a").click(function () {
      $(".sp-menu04").css({ display: "none" });
    });
    $('.menu-btn04').click(function () {
      event.stopPropagation();
    });

    $(document).click(function (event) {
      if (!$(event.target).closest('.sp-menu04').length) {
        $('.sp-menu04').slideUp(200);
      }
    });
  });


  $(function () {
    $(".menu-btn05").click(function () {
      $(".sp-menu05").slideToggle(200);
    });
    $(".sp-menu05 li a").click(function () {
      $(".sp-menu05").css({ display: "none" });
    });
    $('.menu-btn05').click(function () {
      event.stopPropagation();
    });

    $(document).click(function (event) {
      if (!$(event.target).closest('.sp-menu05').length) {
        $('.sp-menu05').slideUp(200);
      }
    });
  });


  $(function () {
    $(".menu-btn06").click(function () {
      $(".sp-menu06").slideToggle(200);
    });
    $(".sp-menu06 li a").click(function () {
      $(".sp-menu06").css({ display: "none" });
    });
    $('.menu-btn06').click(function () {
      event.stopPropagation();
    });

    $(document).click(function (event) {
      if (!$(event.target).closest('.sp-menu06').length) {
        $('.sp-menu06').slideUp(200);
      }
    });
  });



</script>







<section class="first-visit-main-visual">
  <div class="first-visit-main-image">
    <h1 class="title">{{page.title}}</h1>
  </div>
</section>

<section class="main-contetns">
  <div class="contents-container">
    <div class="main-wrappe">
      <div class="first-visit-column">
        <h2>よくあるご質問</h2>
        <!-- <div class="first-visit-note">
          <ul>
            {% set note = {
              "list": [
                {
                    "hd": "保険診療を受ける方へ",
                    "text": "初診の際は保険証・医療証等を必ずお持ちください。保険証の確認が取れない場合は保険診療として取り扱うことができませんのでご注意ください。",
                    "attention": "保険証の期限切れには十分ご注意ください"
                },  {
                    "hd": "診察・検査の進め方について",
                    "text": "初診の方は問診表を記入していただき、治療計画を明確にいたします。その他、●○●○●○については●○●○●○等の診察・検査の進め方についてのコピーが入ります。",
                    "attention": ""
                },  {
                  "hd": "診察所要時間・費用について",
                  "text": "所要時間・費用ともに、ご希望があればご相談ください。診療する内容に応じて、保険診療、自費診療（保険外診療）を提案いたします。",
                  "attention": ""
                },  {
                  "hd": "インターネットからの診察ご予約について",
                  "text": "ここに、インターネットからの診察ご予約についての説明コピーが入ります。<br>ここに、インターネットからの診察ご予約についての説明コピーが入ります。ここに、インターネットからの診察ご予約についての説明コピーが入ります。",
                  "attention": ""
                },  {
                  "hd": "プライバシーポリシー",
                  "text": "当院が皆様の個人情報を収集する場合、診療・看護および皆様の医療に関わる範囲でのみ行います。その他の目的に個人情報を利用する場合は利用目的を予めお知らせし、ご了承を得た上で実施いたします。<br>また当院は、皆様の個人情報について、正確かつ最新の状態を保ち、皆様の個人情報の漏洩、紛失、破壊、改ざんまたは皆様の個人情報への不正なアクセスを防止することに努めます。",
                  "attention": ""
                }
              ]
            } %}

            {% for item in note.list %}
            <li>
              <h3>{{item.hd | safe}}</h3>
              <p>{{item.text | safe}}</p>
              {% if (item.attention == '') %}
              {% else %}
              <div class="note">{{item.attention | safe}}</div>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div> -->

        <div class="faq-subtitle" style="">
          お薬に関する疑問・質問で、お問い合わせの多いものをここでご紹介します。
        </div>



        <div class="head-bar">
          <img src="images/グループ 761.svg" alt="">
          お薬はいつ飲めば良いのでしょうか？
          <a class="menu-btn01" style="">
            <img src="images/yazirushi.png" alt="">
          </a>
        </div>

        <ul class="sp-menu01">
          <li><img src="images/グループ 762.svg" alt=""></li>
        </ul>
        <br>




        <div class="head-bar">
          <img src="images/グループ 761.svg" alt="">
          なぜ、水かぬるま湯で飲むのでしょうか？
          <a class="menu-btn02" style="">
            <img src="images/yazirushi.png" alt="">
          </a>
        </div>

        <ul class="sp-menu02">
          <li>
            基本的に、お薬は「水かぬるま湯で飲む」ことで、効果や安全性が保証されています。
            <br>アルコール・カフェインを含む飲料（緑茶・紅茶・コーヒーなど）・ジュースやスポーツ飲料などで服用した場合、お薬の有効成分の働きを邪魔したり、強い副作用が発生してしまう可能性があります。
            <br>水やぬるま湯でお薬を飲むのが難しい方は、薬剤師にご相談ください。
            <br>オブラートや服薬ゼリーなど、患者様に合った服用方法をご案内します。
          </li>
        </ul>
        <br>


        <div class="head-bar">
          <img src="images/グループ 761.svg" alt="">
          お薬はどこに保管したら良いですか？
          <a class="menu-btn03" style="">
            <img src="images/yazirushi.png" alt="">
          </a>
        </div>

        <ul class="sp-menu03">
          <li>
            直射日光・高温多湿の場所を避け、お子様の手の届かない場所に保存してください。
            <br>ほとんどのお薬は、1〜30℃の室温保存です。
            <br>お薬によっては、10℃以下の場所（冷蔵庫）保存、カンなどの密閉容器に保存などの注意が必要なものもありますが、この場合、個別にご案内いたします。
            <br>また、他の容器への移し替えは避けてください。
          </li>
        </ul>
        <br>





        <div class="head-bar">
          <div class="q" style="" align="left">
            <img src="images/グループ 761.svg" alt="">
          </div>
          <div class="q-title" style="">
            処方されたお薬が残っています。
            <br>飲んでもかまいませんか？
          </div>
          <a class="menu-btn04" style="">
            <img src="images/yazirushi.png" alt="">
          </a>
        </div>

        <ul class="sp-menu04">
          <li>
            残ってしまったお薬は、一度薬局までお持ちください。
            <br>薬剤師がお薬の状態・残数を確認し、処方日数を調整できるように医師に相談したり、次回の診察の際に医師へ残薬を伝えるためのメモを作成することも可能です。
            <br>お気軽にご相談ください。
          </li>
        </ul>
        <br>





        <div class="head-bar">
          <div class="q" style="" align="left">
            <img src="images/グループ 761.svg" alt="">
          </div>
          <div class="q-title" style="">
            処方せんがあれば、
            <br>どこでも調剤してもらえますか？
          </div>

          <a class="menu-btn05" style="">
            <img src="images/yazirushi.png" alt="">
          </a>
        </div>

        <ul class="sp-menu05">
          <li>
            「保険薬局」「保険調剤」「処方せん受付」などの表示があるところでは、処方せんをお持ちいただければ、調剤することが可能です。
            <br>当薬局は調剤薬局ですので、どこの病院の処方せんでも受け付けております。お気軽にお立ち寄りください。
          </li>
        </ul>
        <br>




        <div class="head-bar">
          <div class="q" style="" align="left">
            <img src="images/グループ 761.svg" alt="">
          </div>
          <div class="q-title" style="">
            同じお薬をもらうのに、
            <br>薬局によって料金が違うのはなぜですか？
          </div>

          <a class="menu-btn06" style="">
            <img src="images/yazirushi.png" alt="">
          </a>
        </div>

        <ul class="sp-menu06">
          <li>
            同じ薬・同じ量でも、薬局によって「技術科」や「薬学管理科」が薬局によって違う場合があるため、料金が異なります。
            <br>「薬学管理科」につきましては、お薬手帳をお持ちいただければ、料金を抑えることも可能です。
            <br>また、「ジェネリック薬品」等の適用により、料金を抑えることができます。「ジェネリック薬品」については、適用可能な場合、薬剤師からご説明いたします。
          </li>
        </ul>
        <br>




        <a href="menu.html">
          <img class="bottom-image" src="images/bnr-online-reserved-sp1.svg" alt="">
        </a>









        <!-- first-visit-main-note -->
        <figure class="reserved-bnr pc-none"><a href="#"><img src="./images/bnr-online-reserved-sp-01.svg" alt=""></a>
        </figure>
      </div>
      <!-- menu-column -->
    </div>
    <!-- main-wrappe -->

    {% include '_sub-nav.html' %}
    <!-- sub-wrappe -->
  </div>
</section>


{% endblock %}