{% import "_data/globalConfig.html" as global %}
{% extends 'layout.html' %}
{% set page = {
    "title": "",
    "top": "true"
} %}
{% block content %}

<section class="top-main-visual">
  <ul class="slick-slider" slick-01>
    <li class="slick-list"><img class="sp-none" src="http://placehold.jp/f0f0f0/d0d0d0/2572x1380.png?text=PC01"
        alt=""><img class="pc-none" src="http://placehold.jp/f0f0f0/d0d0d0/750x402.png?text=SP01" alt=""></li>
    <li class="slick-list"><img class="sp-none" src="http://placehold.jp/f0f0f0/d0d0d0/2572x1380.png?text=PC02"
        alt=""><img class="pc-none" src="http://placehold.jp/f0f0f0/d0d0d0/750x402.png?text=SP02" alt=""></li>
    <li class="slick-list"><img class="sp-none" src="http://placehold.jp/f0f0f0/d0d0d0/2572x1380.png?text=PC03"
        alt=""><img class="pc-none" src="http://placehold.jp/f0f0f0/d0d0d0/750x402.png?text=SP03" alt=""></li>
  </ul>
</section>

<section class="main-contetns">
  <div class="contents-container">
    <figure class="top-reserved-bnr pc-none">
      <a href="#"><img src="/images/bnr-online-reserved-sp-01.svg" alt=""></a>


      <!-- <h2 class="top-main-hd-02"><a href="#" class="button is-grd">資料のダウンロードはこちら</a></h2> -->


    </figure>
    <div class="main-wrappe">
      <div class="article-column">
        <h2>「地域一番のかかりつけ薬局」を目指して</h2>
        {% set article = {
          "list": [
              {
                  "title": "新型感染症対策に取り組んでいます",
                  "text": "入り口には、手指消毒用のアルコールを設置しております。<br>皆様には、アルコールでの消毒にご協力をお願いしております。",
                  "figure": "http://placehold.jp/f0f0f0/d0d0d0/412x366.svg?text=1",
                  "alt": "コラム1"
              },  {
                  "title": "",
                  "text": "カウンターには、飛沫防止カーテンを設置し、<br>お客様・スタッフ双方に、安心して当薬局を利用していただくための工夫を行っております。",
                  "figure" : "http://placehold.jp/f0f0f0/d0d0d0/412x366.svg?text=2",
                  "alt": ""
              },
                  {
                  "title": "当薬局が目指していること",
                  "text": "「地域の皆様のかかりつけ薬局」を目指し、地域密着のあたたかい雰囲気の薬局を目指しています。<br>近隣クリニックとの連携をとり、安心して調剤をお任せいただける環境作りを心がけています。<br>近隣病院以外の処方せんも対応できますので、ご相談ください。 ",
                  "figure": "http://placehold.jp/f0f0f0/d0d0d0/412x366.svg?text=3",
                  "alt": ""
              },  {
                  "title": "",
                  "text": "",
                  "figure": "",
                  "alt": ""
              },  {
                  "title": "",
                  "text": "",
                  "figure": "",
                  "alt": ""
              } 
          ]
        } %}

        {% for item in article.list %}
        <div class="article-list">
          <div class="article-text">
            <h3 class="top-hd">{{item.title | safe}}</h3>
            <p>{{item.text | safe}}</p>
          </div>
          <figure><img src="{{item.figure}}" alt="{{item.alt}}"></figure>
        </div>
        <!-- article-list -->
        {% endfor %}
      </div>
      <!-- article-column -->
      <div class="info-column">
        <h2>お知らせ</h2>
        <dl class="info-list">
          {% set info = {
            "list": [
                {
                    "date": "2020年4月15日",
                    "title" : "GWの営業時間について、<br>こちらはダミーです、イメージを確認するためのものです。"
                },  {
                    "date": "2020年4月1日",
                    "title" : "<span class='important'>オンライン診療開始</span>"
                },  {
                    "date": "2020年3月11日",
                    "title" : "テキストが入ります。テキストが入ります。"
                }
          
            ]
          } %}

          {% for item in info.list %}
          <dt>{{item.date | safe}}</dt>
          <dd>{{item.title | safe}}</dd>
          {% endfor %}
        </dl>
      </div>
      <!-- info-column -->
      <div class="about-column">
        <h2>当薬局のご紹介</h2>
        <div class="about-panel">
          埼玉県上尾市にある「ホッペ薬局上尾店」は、あげお本町クリニック・児童館「アッピーランド」の目の前に立地しています。2019年4月に新規開局した新しい店舗です。開局以来、地域の皆様の健康をサポートしてまいりました。近隣医療機関の内科や消化器科、循環器科などの処方箋をメインに応需しています。
          <span><a href="about.html" class="button">当薬局ご紹介へ</a></span>
        </div>
      </div>
      <!-- about-column -->
      <!-- <div class="menu-column">
        <h2>「ホッペ」について</h2>
        <ul class="examination-menu">
          {% for item in global.examination.list %}
          <li>{{item.name | safe}}</li>
          {% endfor %}
        </ul>
        <div class="menu-panel">
          <span><a href="#" class="button">「ホッペ」について</a></span>
        </div>
      </div> -->
      <!-- menu-column -->
      <div class="first-visit-column">
        <h2>「ホッペ」について</h2>
        <div class="first-visit-panel">
          <figure><img src="http://placehold.jp/f0f0f0/d0d0d0/710x464.png" alt=""></figure>
          <div class="first-visit-text">
            <p>
              当薬局は「電子お薬手帳ホッペ」提携薬局です。<br>「どこにいても安心できる医療をお届けする」<br>ことをモットーに健康作りをサポートしています。
            </p>
            <span><a href="menu.html" class="button">「ホッペ」について</a></span>
          </div>
        </div>
      </div>
      <!-- first-visit-column -->
    </div>
    <!-- main-wrappe -->

    {% include '_sub-nav.html' %}
    <!-- sub-wrappe -->
  </div>
</section>

<section class="map sp-none">
  <div class="access-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3228.4105438941788!2d139.59136345065045!3d35.98583418002692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018cf2d5d211203%3A0x5c0fcb454516008!2z44Ob44OD44Oa6Jas5bGA!5e0!3m2!1sja!2sjp!4v1598597713694!5m2!1sja!2sjp"
      width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
      tabindex="0"></iframe> </div>
</section>


{% endblock %}