{% import "_data/globalConfig.html" as global %}
{% extends 'layout.html' %}
{% set page = {
    "title": "「ホッペ」について"
} %}
{% block content %}

<style scoped>
  /* pc */
  @media (min-width: 768px) {
    .about-column-title {
      font-size: 20px;
      color: #4468BB;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .about-column-title02 {
      font-size: 20px;
      color: #4468BB;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
      margin-top: 90px;
    }

    .bottom-image {
      display: none;
    }

    .qr {
      width: 600px;
      margin: 0 auto;
    }

    .qr02 {
      width: 150px;
      margin-left: 70px;
      margin-top: 10px;
    }

    .qr03 {
      width: 175px;
      margin-left: 45px;

    }

    .qr04 {
      width: 600px;
      margin: 80px auto 150px;
    }



  }


  /* sp */
  @media (max-width: 767px) {
    .about-column-title {
      font-size: 5vw;
      color: #4468BB;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .about-column-title02 {
      font-size: 5vw;
      color: #4468BB;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
      margin-top: 80px;
    }

    .qr {
      margin: 0 auto;
      text-align: center !;
    }

    .qr02 {
      width: 24vw;
      margin-left: 0vw;
      margin-top: 1.5vw;
      max-width: 150px;

    }

    .qr03 {
      width: 30vw;
      margin-left: 7%;
      max-width: 170px;
    }

    .qr04 {
      margin-top: 45px;
      margin-bottom: 50px;
    }

  }
</style>




<section class="menu-main-visual">
  <div class="menu-main-image">
    <h1 class="title">{{page.title}}</h1>
  </div>
</section>

<section class="main-contetns">
  <div class="contents-container">
    <div class="main-wrappe">
      <div class="menu-column">
        <h2>「ホッペ」について</h2>
        <br>

        <div style="text-align: center;">
          <img style="" src="images/logo_hoppe.svg" alt="">
          <div class="about-column-title">
            当薬局は「電子お薬手帳ホッペ」の提携薬局です
          </div>
        </div>


        <div class="about-menu" style="margin-top: 20px; margin-bottom: 20px;">
          <ul>
            <div style="font-weight: 100;">
              <div class="about-history-image" style="">
                <figure><img style="float: left; margin-right: 30px; margin-top: 6px; max-height: 70px; width: auto;"
                    src="images/グループ 759.svg" alt="">
                </figure>
              </div>
              <br>
              <br>
              <br>

              <div class="normal-text" style="">
                「電子お薬手帳ホッペ」は利用できる調剤薬局が一番多い電子お薬手帳です。<br>（2016年9月27日調べ）<br>薬剤師さんとのメッセージ機能や、お薬データの登録、健康管理や、お薬飲み忘れ防止アラームなど······<br>お薬と付き合う日々の中で嬉しい機能満載の電子お薬手帳アプリです！<br>
              </div>
              <div style="color: #4468BB;">
                「ホッペ」公式サイトはこちら→
                <a style="color: #4468BB;"
                  href="https://www.hoppe.club/patient/index.html">https://www.hoppe.club/patient/index.html</a>
              </div>
              <br>
            </div>
          </ul>
        </div>

        <div class="about-column-title02" style="text-align: center;">
          いますぐ「ホッぺ」をダウンロード！
        </div>
        <img style="" src="images/グループ 760.svg" alt="">

        <br><br>
        <!-- <img class="qr" src="images/グループ 790.svg" alt=""> -->
        <div class="qr">
          <img src="images/グループ 798.svg" alt="">
        </div>

        <img class="qr02" src="images/apple.svg" alt="" align="left">
        <img class="qr03" src="images/google.svg" alt="" align="left">

        <div class="qr04">
          <img src="images/tm.svg" style="" alt="">
        </div>





        <img class="bottom-image" src="images/bnr-online-reserved-sp1.svg" alt="">



        <!-- {% for item in global.examination.list %}
        <div class="main-menu-list">
          <div class="main-menu-text">
            <h3>{{item.name | safe}}</h3>
            <p>{{item.explanation | safe}}</p>
          </div>
          <figure><img src="{{item.figure}}" alt="{{item.alt}}"></figure>
        </div> -->
        <!-- main-menu-list -->
        <!-- {% endfor %} -->
        <figure class="reserved-bnr pc-none"><a href="#"><img src="/images/bnr-online-reserved-sp-01.svg" alt=""></a>
        </figure>
      </div>
      <!-- menu-column -->
    </div>
    <!-- main-wrappe -->

    {% include '_sub-nav.html' %}
    <!-- sub-wrappe -->
  </div>
</section>


{% endblock %}