{% set site = {
    'sitename': 'ホッペクリニック',
    'copyrights': '© 2020 Hoppe CLINIC'
} %}

{% set nav = {
    "header": [
        {
            "label": "電話をかける",
            "class" : "nav-tel",
            "url" : "tel:00000000000"
        }, {
            "label": "",
            "class" : "nav-reserved",
            "url" : "#"
        },  {
            "label": "ホーム",
            "label_en": "Home",
            "class" : "nav-home",
            "url" : "#"
        }, {
            "label": "当薬局ご紹介",
            "label_en": "About our pharmacy",
            "class": "nav-about",
            "url" : "#"
        }, {
            "label": "「ホッペ」について",
            "label_en": "About “hoppe”",
            "class": "nav-info",
            "url" : "#"
        }, {
            "label": "よくあるご質問",
            "label_en": "FAQ",
            "class": "nav-first-visit",
            "url" : "#"
        }, {
            "label": "アクセス",
            "label_en": "Access",
            "class": "nav-access",
            "url" : "#"
        }
    ]
} %}

{% set examination = {
    "list": [
        {
            "name": "一般内科",
            "explanation": "ここに一般内科の説明が入ります。ここに一般内科の説明が入ります。ここに一般内科の説明が入ります。<br>ここに一般内科の説明が入ります。",
            "figure": "http://placehold.jp/f0f0f0/d0d0d0/412x366.svg?text=1",
            "alt": "一般内科"
        },  {
            "name": "循環器内科",
            "explanation": "ここに循環器内科の説明が入ります。ここに循環器内科の説明が入ります。ここに循環器内科の説明が入ります。ここに循環器内科の説明が入ります。",
            "figure": "http://placehold.jp/f0f0f0/d0d0d0/412x366.svg?text=2",
            "alt": ””
        },  {
            "name" : "消化器内科",
            "explanation": "ここに一消化器内科の説明が入ります。ここに消化器内科の説明が入ります。ここに消化器内科の説明が入ります。<br>ここに消化器内科の説明が入ります。ここに消化器内科の説明が入ります。ここに消化器内科の説明が入ります。",
            "figure": "http://placehold.jp/f0f0f0/d0d0d0/412x366.svg?text=3",
            "alt": ""
        }
    ]
  } %}