<div class="box-inner">
  <div class="footer-info">
    <div class="footer-logo">
      <a href="/">
        <img src="http://placehold.jp/f0f0f0/d0d0d0/820x150.png?text=LOGO" alt="{{global.site.sitename}}">
      </a>
    </div>
    <div class="footer-info-contact">
      <div class="footer-info-address">
        <p>〒362-0014<br>埼玉県 上尾市本町6-8-22</p>
      </div>
      <div class="footer-info-tel">
        <p>048-871-9844</p>
      </div>
    </div>
  </div>
  <div class="footer-copyrights">
    <p>{{global.site.copyrights}} All Rights Reserved.</p>
  </div>
</div>