<style scoped>
  /* pc */
  @media (min-width: 768px) {
    .header-site-logo img {}
  }


  /* sp */
  @media (max-width: 767px) {}
</style>



<nav class="box-wrapper" aria-label="main navigation">
  <div class="box-inner">
    <div class="header-main">
      <div class="header-logo">
        {% if (page.top == 'true') %}<h1>{% else %}<p>{% endif %}
            <a href="/" class="header-site-logo"><img src="images/グループ 739.svg" style=""
                alt="{{global.site.sitename}}"></a>
            {% if (page.top == 'true') %}</h1>{% else %}</p>{% endif %}
        <a href="javascript:;" class="navbar-opener"></a>
      </div>
      <div class="header-info">
        <div class="header-info-contact">

          <a href="tel:0488719844">
            <p class="tel">
              048-871-9844</p>
          </a>
          <p class="address">〒362-0014<br>埼玉県 上尾市本町6-8-22</p>
        </div>
        <div class="header-info-online">
          <a href="menu.html"><img src="/images/bnr-online-reserved-pc-01.svg" alt=""></a>
        </div>
      </div>
    </div>
    <div class="navbar-block">
      <ul class="navbar">
        {% for item in global.nav.header %}
        <li class="{{item.class}}">
          <a href="{{ item.url if item.url else '#' | safe }}">
            <p>{{item.label | striptags(true) | escape | nl2br}}</p><span>{{item.label_en}}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>