{% import "_data/globalConfig.html" as global %}
<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>{%if page.title %}{{page.title}} | {% endif %}{{global.site.sitename}}</title>
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="">
  <link rel="shortcut icon" href="./images/favicon.svg">
  <link rel="apple-touch-icon-precomposed" href="./images/webclip.svg">
  <link href="./css/style.css" rel="stylesheet">
  {% for css in page.css %}
  <link href="./css/{{css}}.css" rel="stylesheet">
  {% endfor %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body id="body">
  <!-- header -->
  <header class="header">
    {% include '_header.html' %}
  </header>
  <!-- / header -->

  <!-- main -->
  <article class="main">
    {% block content %}{% endblock %}
  </article>
  <!-- / main -->

  <!-- footer -->
  <footer class="footer">
    {% include '_footer.html' %}
  </footer>
  <!-- / footer -->

  <script type="text/javascript" src="./js/vendor.js"></script>
  <script type="text/javascript" src="./js/scripts.js"></script>
  {% for js in page.js %}
  <script src="./js/{{js}}.js"></script>
  {% endfor %}
</body>

</html>